.chat-container {
  height: 100vh;
  transition: 6s all ease-in-out;
}
.chat {
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;
}
.chat ul {
  padding: 0;
  margin: 0;
}
.chat li {
  color: #866a7e;
}
.loading {
  opacity: .7;
}

.question-index > h3 {
  color: brown;
  float: right;
  transition: .5s all ease-in-out;
}

.typewriter {
  font-size: larger;
}