.chat-container {
  height: 100vh;
  transition: 6s all ease-in-out;
}
.chat {
  margin-top: 1em;
  border-top: 2px solid white;
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-bubble {
  position: relative;
  padding: .5em;
  margin-bottom: 1em;
	background: whitesmoke;
  border-radius: .4em;
  list-style:none;
  color: grey;
  max-width: 55%;
  min-width: 25%;
}
.chat-bubble.right {
  align-self: flex-end;
  margin-right: 12px;
}
.chat-bubble.left {
  margin-left: 12px;
}
.chat-bubble:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: whitesmoke;
	border-right: 0;
	margin-top: -12px;
	margin-right: -12px;
}
.chat-bubble.left:after {
	left: 0;
	border: 12px solid transparent;
	border-right-color: whitesmoke;
	border-left: 0;
	margin-top: -12px;
	margin-left: -12px;
}
.loading {
  opacity: .7;
}

.question-index > h3 {
  color: brown;
  float: right;
  transition: .5s all ease-in-out;
}

.typewriter {
  font-size: larger;
}

@media (max-width: 400px) {
  .chat {
    max-height: 50vh;
  }
}