
.main {
  background-color: #f9c296;
  min-height: 100vh;
  padding-top: 4em;
}
.btn-main {
  font-family: 'Playfair Display', serif;
  align-self: stretch;
  margin: auto 5px;
  padding: 7px 20px;
  background: #f9c296;
  border: 1px solid white;
  color: white;
  font-size: x-large;
  transition: .3s all ease-in-out;
}
.btn-main:hover {
  color: #f9c296;
  background: white;
}

