.header-main {
  display: inline-flex;
  width: 100%;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #865a56bf;
}
.header-main a {
  color: white;
  text-decoration: none;
}

.header-main .title {
  margin-right: auto;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.header-main .title #number {
  font-size: 2.7em;
}
.header-main .title #text {
  align-self: center;
  font-size: 1.9em;
}