.home-screen {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display-1 {
  color: brown;
}
.home-screen h1 {
  font-size: xx-large;
  margin: auto auto;
}
.home-screen p {
  margin: auto auto;
}
.home-screen hr {
  max-width: 400px;
  border-color: #865a56bf;
  border-width: .5px;
}